/*google font for headers and logo*/
@import url(https://fonts.googleapis.com/css?family=Rye);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


/* Reset CSS taken from meyer web */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */
body {
	background-color: #f8f4e7;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	background-image: url("../img/logo-bg.png");
	font-family: 'Rye', cursive;
	color: white;
	text-shadow:-1px 0 #084a5c, 0 1px #084a5c, 1px 0 #084a5c, 0 -1px #084a5c;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100px;
	width: 125px;
	font-size: 1.747em;
	transform: rotate(-15deg);
	display:flex;
	justify-content:flex-start;
	margin-left: 20px;
	text-align: center;
	padding-top: 30px;
	top: 0;
	position: absolute;
	left: 0;
}
h2 {
	font-family:'Rye', cursive;
	color: #084a5c;
	text-align: center;
	margin: 2%;
	font-size: 1.747em;
}
h3 {
	font-family:'Rye', cursive;
	color: #084a5c;
	text-align: center;
	margin: 2%;
	font-size: 1.747em;
}
.button {
	display: inline-block;
	background: #1aa4ba;
  color: #FFF;
	font: inherit;
	font-size: 16px;
	height: 40px;
  width: 170px;
	line-height: 40px;
	margin: 25px 25px;
	padding: 8px 8px;
	text-align: center;
	border: 5px;
	transition: all 0.3s ease 0s;
}

.button:hover {
 color: #1aa4ba;
}

header {
width: 100%;
height: 100%;
background-color: #c1c259;
display: flex;
flex-direction: row;
justify-content: flex-end;
margin-top: 40px;
}

nav {
	padding: 10px 20px 10px 20px;
	background-color: #c1c259;
}

nav ul li {
	display: inline-block;
	padding-left: 50px;
}

nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

.content-area {
	margin-top: 100px;
}
.mobile-menu-open,.mobile-menu-closed {
	display: none;
}
/* index.html - Home Page Specific Styles */

/* Header */
.home-header {
	height: auto;
	margin-top: 0;
	background: none;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding:20px;
	width: auto;
}
.home-header h1 {
	width: 219px;
	height: 159px;
	padding-top: 60px;
	font-size: 40px;
	position: relative;
	transform: rotate(0deg);
	margin: 0;
}
.home-header span.tilt {transform: rotate(-15deg);}
.home-header h1 span.arrow-down {
	display: block;
	width: 30px;
	height: 57px;
	background:url(../img/arrow-down.png)no-repeat;
	position: absolute;
	bottom: 0px;
	left:93px;
}
.random-result {
	height: 209px;
	border: 5px solid #084a5c;
	width: 35%;
	background: #1aa4ba;
	position: relative;
	z-index: 20;
	color: #ffffff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding:0 50px;
}
.left-arrow {
	background: url(../img/left-arrow.png) no-repeat;
	display: block;
	position: absolute;
	width: 54px;
	height: 30px;
	top: 50%;
	right: 0;
	margin-top: -15px;
}
.dice-button {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	border: 5px solid #084a5c;
	background: #d8ebee;
	text-align: center;
	line-height: 150px;
	cursor: pointer;
	margin-right: 35px;
	margin-top:28px;
	position: relative;
}
.dice-button img {
	margin-top: 30px;
}
.dice-button:before{
	content: "";
	border-top: 5px solid #084a5c;
	width: 300px;
	position: absolute;
	left:-300px;
	top: 50%;
	height: 50%;
	z-index: 10;
}
.game-trail {
	width: 100%;
	background: url(../img/game-trail-bg.png) repeat-x center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	clear: both;
	align-items: center;
	margin-top:30px;
}
.game-trail p {
	width: 20%;
	background: #ffffff;
	color: #5e5e5e;
	text-align: center;
	line-height: 22px;
}

.game-trail p:nth-child(2n+0) {
    background: #ffffff;
		width: 50px;
		height: 50px;
		border: 5px solid #084a5c;
		border-radius: 50px;
}
.game-trail p:nth-child(2n+1) {
	border: 5px solid #084a5c;
	height: 85px;
	padding: 10px
}
.game-trail p:first-child{
	background:#d8ebee;
	color:#084a5c;
	text-align: center;
	font-family:'Rye', cursive;
	font-size: 40px;
	line-height: 85px;
	width: 189px;
	position: relative;
}

.game-trail p:last-child {
	background:#e4e4b5;
	color:#084a5c;
	text-align: center;
	font-family:'Rye', cursive;
	font-size: 40px;
	line-height: 40px;
	width: 189px;
	position: relative;
}
.game-trail p:last-child span {
	font-size: 20px;
	display: block;
}
.game-trail p:last-child:before, .game-trail p:first-child:before {
	content: "";
	border-right: 5px solid #084a5c;
	height: 40px;
	position: absolute;
	top:-40px;
	right: 50%;
	width: 50%;
}
.game-trail p:last-child:before {
	height: 67px;
	top:-67px;
}

.content-area.home-content-area {
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 0;
}
.content-area.home-content-area article {
	position: relative;
	background-color: white;
	flex-direction: column;
	border: 5px solid #084a5c;
	padding-bottom: 100px;
	width: 35%;
	min-height: 35%;
	margin: 2%;
}

.content-area.home-content-area img {
	margin-left: 3%;
	margin-top: 5%;
	width: 95%;
	height: 75%;
}
.content-area.home-content-area p {
	text-align: center;
	color: #979797;
	margin: 1%;
}
.content-area.home-content-area article .button {
	margin-left: 5%;
	position: absolute;
	width: 80%;
	bottom: 0;
}
/* update.html - Update Game Closet Specific Styles */
.update-content-area div {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.update-content-area div h2 {width: 100%;}

.update-content-area {
	display: flex;
	flex-direction: column;
}

.update-content-area article {
	background-color: white;
	border: 5px solid #084a5c;
	margin-bottom: 20px;
	min-height: 200px;
	width: 500px;
	box-sizing: border-box;
	padding: 20px;
}
.fa {padding: 0 5px 0 20px;}


.game-item h3{
	text-align:center;
	margin: 1%;
	font-size: 28px;
}
.features{
	color: #1aa4ba;
	text-align:center;
	font-size: 24px;
	padding: 5px 0;
}
.description{
	color: #979797;
	text-align:center;
	padding: 10px;
	font-size: 18px;
}

/* search.html Search Game Closet Specific Styles */
.content-area-search-content-area {
	padding-top: 60px;
}

.pick-game-form {
display: inline-block;
width: 20%;
border: 5px solid;
border-color: #084a5c;
background-color: #FFFFFF;
padding: 20px;
}

label {
	display: block;
  clear: left;
  padding-bottom: 10px;
	color: #BDBDBD;
	padding-top: 10px;
	padding-bottom: 10px;
}

input {
	display: block;
	padding-left: 20px;
	background-color: #FBF4E7;
	width: 100%;
	border: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: border-box;
	line-height: 20px;
	margin-bottom: 30px;
}

select {
	background-color: #FBF4E7;
	width: 100%;
	padding-left: 20px;
	border: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	-webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.intoxicated-content-div {
	width: 20%;
	float: left;
	clear: none;
}

.intoxicated-content-div label {
	margin-top: 0;
}

.pick-game-button {
		margin-top: 50px;
		display: block;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #1aa4ba;
		color: #FFFFFF;
		border-radius: 5px;
		border: 5px;
		clear: both;
		box-sizing: border-box;
		font-size: 18px;
}
/* search.html About Players Specific Styles */

/* about.html About Players Specific Styles */
.content-area.about-content {
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.content-area.about-content article{
	background-color: white;
	flex-direction: column;
	justify-content: center;
	border: 5px solid #084a5c;
	margin-left: 1%;
	margin-top: 2%;
	margin-right: 1%;
	width: 20%;
	min-height: 25%;
	min-width: 250px;
}
.content-area.about-content h2 {
	margin-top: 3%;
}
.content-area.about-content img{
	display:flex;
	align-content: center;
	margin-left: 3%;
	margin-top: 5%;
	height: 50%;
	width: 90%;
	border: 5px solid #084a5c;
}
.content-area.about-content p {
	text-align: center;
	color: #979797;
	margin: 5% 1% 1% 1%;
	line-height: 18px;
}

/* Media Queries for Responsive */

@media screen and (max-width: 870px) {
  .game-trail p:nth-child(2n+0) {
		display: none;
	}
	.game-trail p:nth-child(3) {
		width: 30%;
	}
	.content-area.home-content-area {
		flex-wrap: wrap;
	}
	.content-area.home-content-area article {
		width: 40%;
	}
	.random-result {
		width: 30%;
	}
}

@media screen and (max-width: 750px) {
	.game-trail p:nth-child(5) {
		display: none;
	}
	.game-trail p:nth-child(3) {
		width: 40%;
	}

}

@media screen and (max-width: 600px) {
	.game-trail p:nth-child(1), .game-trail p:nth-child(5){
		display: none;
	}
	.content-area.home-content-area {
		flex-direction: column;
		padding: 10px;
	}
	.game-trail p:nth-child(3), section, article, .content-area.home-content-area article {
		width: 100%;
		box-sizing: border-box;
		margin: 0 0 10px 0;
	}
	.home-header {
		display: flex;
		flex-direction: column;
		padding-top: 0;
		justify-content: center;
	}
	.home-nav, nav {
		position: absolute;
		top: 40px;
		z-index: 100;
		width: 100%;
	}
	.home-header h1, h1 {
		width: 150px;
		height: 110px;
		border-radius: 150px;
		padding: 0;
		position: relative;
		z-index: 200;
		font-size: 30px;
		padding-top: 40px;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
	}
	.random-result {
		width: 100%;
		margin-top: 160px;
	}
	.home-header h1 span.arrow-down{
		display: none;

	}
	.left-arrow {
	background:url(../img/arrow-up.png)no-repeat;
	left:50%;
	width: 30px;
	height: 54px;
	margin-left: -12px;
	bottom: 0;
	top: auto;
}
.dice-button {
	margin: 0 auto;
}
.dice-button:before{
	content: "";
	border-left: 5px solid #084a5c;
	border-top: none;
	width: 300px;
	position: absolute;
	top:-20px;
	left: 50%;
	height: 20px;
	z-index: 10;
}
.mobile-menu-closed,.mobile-menu-open {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	right: 20px;
	color: #ffffff;
	z-index: 50;
}
.home-nav, nav {
	width: 100%;
	height: 30px;
	left: 0;
}
.home-nav ul, nav ul {
	display: none;
	position: absolute;
	top: 120px;
	background: #ffffff;
	z-index: 500;
	width: 86%;
	height: 300px;
	box-sizing: border-box;
	border: 5px solid #084a5c;
	margin: 0;
	left: 2%;
	padding: 0;

}
.home-nav ul li, nav ul li {
	display: block;
	font-size: 30px;
	line-height: 60px;

}
.home-nav ul li a, nav ul li a {
	color: #084a5c;
}
}
